@use "variables" as *;

.form {
  &__content {
    grid-column: -2 / -1;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      grid-column: 1 / -1;
      grid-row: 2 / 4;
      background-color: $white;
      margin: 0rem 1rem 2rem 1rem;
      padding: 0 2rem 2rem 2rem;
      border-radius: 10px;
      box-shadow: 0 5px 5px $shadow;
    }
  }

  &__info {
    margin-top: 2.5rem;
  }

  &__title {
    margin-bottom: 0.25rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: $blue-950;
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 1.2rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__label-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.25rem;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }

  &__error {
    font-size: 0.8rem;
    color: $red-500;
    font-weight: 700;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }

  &__input {
    width: 100%;
    border: 1px solid $purple-200;
    border-radius: 5px;
    outline: none;
    padding: 0.9rem 1.3rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: $blue-950;

    &::placeholder {
      font-weight: 500;
      color: $grey-500;
    }

    &:focus {
      border-color: $purple-600;
    }

    &--error {
      border-color: $red-500;
    }

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }

  &__navigation {
    grid-row: -2 / -1;
    align-self: center;
    display: flex;
    margin-bottom: 1rem;

    & > :last-child {
      margin-left: auto;
    }

    @media (orientation: portrait) and (max-width: $bp-lg) {
      position: fixed;
      bottom: env(safe-area-inset-bottom);
      left: 0;
      right: 0;
      background-color: $white;
      padding: 1rem 1rem;
      margin: 0;
      z-index: 1000;
    }
  }

  &__toggle {
    display: inline-flex;
    width: 100%;
    background-color: $blue-50;
    margin-top: 1rem;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 6px;
    transition: all 1s ease;

    &-label {
      color: $grey-500;
      font-size: 0.9rem;
      font-weight: 700;

      &--active {
        color: $blue-900;
      }

      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 1rem;
      }
    }

    &-switch {
      position: relative;
      width: 40px;
      height: 20px;

      input {
        margin: 0;
        opacity: 0;
        width: 0;
        height: 0;
      }

      @media (orientation: portrait) and (max-width: $bp-lg) {
        transform: scale(1.2);
      }
    }

    &-slider {
      position: absolute;
      inset: 0;
      background-color: $blue-900;
      border-radius: 999px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        top: 3px;
        left: 3px;
        background-color: $white;
        border-radius: 50%;
        transition: transform 0.2s ease;
      }
    }

    &-switch input:checked + &-slider::before {
      transform: translateX(20px);
    }
  }
}

.cards {
  display: flex;
  flex: 0 0 60%;
  gap: 1rem;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    flex-direction: column;
  }
}

.card {
  flex: 1 0 0;
  padding: 1.2rem 1rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  border: 1px solid $purple-200;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: $purple-600;
    transform: scale(1.1);
  }

  &--active {
    background-color: $blue-50;
    border-color: $purple-600;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.2s ease;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      width: 3rem;
      height: 3rem;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }

  &:hover &__icon {
    transform: rotate(0.1turn);
  }

  &__content {
    flex: 1 0 0;
    transform: translateY(55%);
    transition: all 0.3s ease;
    &.card__free--visible {
      transform: translateY(35%);
      @media (orientation: portrait) and (max-width: $bp-lg) {
        transform: translateY(-5%);
      }
    }

    @media (orientation: portrait) and (max-width: $bp-lg) {
      min-height: 4rem;
      transform: translateY(5%);
    }
  }

  &__free--visible {
    .card__free {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }

  h4 {
    margin: 0;
    color: $blue-900;
    font-size: 1rem;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 1.1rem;
    }
  }

  &__price {
    font-size: 0.8rem;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }

  &__free {
    font-size: 0.7rem;
    color: $blue-900;
    font-weight: 500;

    opacity: 0;
    visibility: hidden;
    transform: translateY(4px);

    transition: all 0.3s ease;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.8rem;
    }
  }

  @media (orientation: portrait) and (max-width: $bp-lg) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 1rem;
    min-height: 6.4rem;
  }
}

.addon {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  border: 1px solid $purple-200;
  border-radius: 6px;
  padding: 1rem 1.1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    gap: 0;
    padding: 1rem 0.8rem;
  }

  &:hover {
    border-color: $purple-600;
    transform: scale(1.1);
  }

  &:has(input:checked) {
    background-color: $blue-50;
    border-color: $purple-600;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__checkbox {
    @media (orientation: portrait) and (max-width: $bp-lg) {
      margin-right: 0.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      color: $blue-900;
      font-size: 1rem;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 0.9rem;
      }
    }

    p {
      font-size: 0.8rem;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 0.7rem;
      }
    }
  }

  &__price {
    margin-left: auto;
    color: $purple-600;
    font-size: 0.8rem;
    font-weight: 500;
    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__breakdown {
    background-color: $blue-50;
    border-radius: 6px;
    padding: 1rem 1.3rem;
  }

  &__plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $purple-200;

    &-name {
      text-transform: capitalize;
      color: $blue-900;
      font-weight: 500;
      font-size: 1.1rem;
    }

    &-price {
      color: $blue-900;
      font-size: 0.9rem;
      font-weight: 700;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 1rem;
      }
    }
  }

  &__change-plan {
    padding: 0;
    font-weight: 400;
    text-decoration: underline;
    font-size: 0.8rem;
    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 0.9rem;
    }
  }

  &__addons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.3rem;
  }

  &__addon {
    display: flex;
    justify-content: space-between;

    &-name {
      color: $grey-500;
      font-size: 0.8rem;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 0.9rem;
      }
    }

    &-price {
      color: $blue-900;
      font-size: 0.8rem;
      font-weight: 500;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 0.9rem;
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    padding: 0 1.3rem;

    &-label {
      color: $grey-500;
      font-size: 0.8rem;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 0.9rem;
      }
    }

    &-price {
      color: $purple-600;
      font-weight: 700;
      @media (orientation: portrait) and (max-width: $bp-lg) {
        font-size: 1.1rem;
      }
    }
  }
}

.thankyou {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: fade-in 0.5s;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
    background-color: $white;
    margin: 2rem 1rem 0 1rem;
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px $shadow;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    text-align: center;
    margin-bottom: 1.5rem;
    @media (orientation: portrait) and (max-width: $bp-lg) {
      font-size: 1.1rem;
    }
  }
}
