@use "variables" as *;

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: $blue-100;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    grid-template-columns: 1fr;
    align-items: start;
  }
}

.container {
  grid-column: 2 / -2;
  padding: 0.8rem;
  width: 100%;
  max-width: 60rem;
  min-width: 55rem;
  height: 35rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr min-content;
  gap: 1rem 6rem;
  background-color: $white;
  padding-right: 6rem;
  border-radius: 16px;
  box-shadow: 0 5px 5px $shadow;
  margin: auto;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content) 1fr 1fr;
    align-items: stretch;
    max-width: none;
    min-width: unset;
    height: 100%;
    padding: 0;
    margin-bottom: 5rem;
    border-radius: 0;
    gap: 0;
    box-shadow: none;
    background-color: transparent;
  }
}
