@use "variables" as *;

@keyframes bg-move {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  border-radius: 10px;
  animation: bg-move linear 5s infinite alternate;

  @media (orientation: portrait) and (max-width: $bp-lg) {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    border-radius: 0;
    background-position: left 0% bottom 15%;
    height: 30vh;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 2rem;
    gap: 1.4rem;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      flex-direction: row;
      justify-content: center;
      gap: 1.2rem;
      margin-top: 5.5vh;
    }
  }

  &__item {
    display: flex;
    gap: 0.8rem;

    & > * {
      display: flex;
      flex-direction: column;
      line-height: 1.4;

      &:last-child {
        @media (orientation: portrait) and (max-width: $bp-lg) {
          display: none;
        }
      }
    }
  }

  &__number {
    align-items: center;
    justify-content: center;
    color: $purple-200;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.8rem;
    font-weight: 700;
    align-self: center;
    border: 2px solid $purple-200;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s ease;

    @media (orientation: portrait) and (max-width: $bp-lg) {
      height: 2.2rem;
      width: 2.2rem;
      color: $white;
    }

    .sidebar__item--active & {
      background-color: $blue-200;
      color: black;
    }
  }

  h4 {
    text-transform: uppercase;
    margin: 0;
    color: $grey-500;
    font-size: 0.8rem;
    font-weight: 500;
  }

  p {
    text-transform: uppercase;
    color: $white;
    font-size: 0.8rem;
    font-weight: 700;
  }
}
