// Colors – Primary
$blue-950: hsl(213, 96%, 18%);
$blue-900: hsl(213, 100%, 37%);
$purple-600: hsl(243, 100%, 62%);
$purple-500: hsl(243, 100%, 75%);
$blue-300: hsl(228, 100%, 84%);
$blue-200: hsl(206, 94%, 87%);
$red-500: hsl(354, 84%, 57%);
$coral-500: #f9818e;

// Colors – Neutral
$grey-500: hsl(231, 11%, 63%);
$purple-200: hsl(229, 24%, 87%);
$blue-100: hsl(218, 100%, 97%);
$blue-50: hsl(231, 100%, 99%);
$white: hsl(0, 100%, 100%);

$shadow: rgba(
  $color: #000000,
  $alpha: 0.1,
);

// Typography
$font-base-size: 16px;
$font-family-base: "Ubuntu", sans-serif;

// Breakpoints (derived from layout guide)
$bp-lg: 1100px;
$bp-hg: 1440px;
